
header {
    background: #ebebeb;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 10px;
    margin: 2px;
}

body{
    font-style: Arial;
    color: #777777;
    backround: #777777;
    width: 100%;
    font-size: 18px;
}

nav{
    background: #ebebeb;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 10px;
    margin: 2px;
}


#section{
    background: #ebebeb;
    height: 200px;
    width: 30%;
    float: left;
    text-align: center;
    border: 2px;
    inline-size: 47%;
    padding: 15px;

}

 #aside{
    background: #ebebeb;
    height: 200px;
    width: 40%;
    float: right;
    text-align: center;
    border: 2px;
    inline-size: 47%;
    padding: 15px;
}

#article{
    height: 250px;
    width: 35%x;
    background: grey;
}

Footer{
    position: fixed;
    left: 0px;
    bottom: 160px;
    height: 150px;
    width: 100%;
    background: #ebebee;
    text-align: center;
    margin: 10px; 
}


h1{
    color: #777777;
    background: #ebebeb;
    width: 495px
}